

    <!--Flowchart---->

    <div id="wrapper"  class="flowchart_body" style="overflow-x:scroll">
        <span style="background-color: green;" class="flowcahrt_label">
            <span class="Flowtooltip">
                <span class="Flowtooltiptext">
                    @*<table dir="rtl">
                        <tr>
                            <td style="width:70px;"> تاریخ ارسال :</td>
                            <td>1400/03/18</td>
                        </tr>
                        <tr>
                            <td style="width:70px;"> کد رهگیری :</td>
                            <td>140654198618</td>
                        </tr>
                    </table>*@3266666666666666
                </span>ارائه اظهارنامه
            </span>
        </span>
        <div class="branch ">
            <div class="sole">
                <span style="background-color: green;" class="flowcahrt_label">
                    درخواست اسناد و مدارک
                </span>
                <div class="branch ">
                    <div class="sole">
                        <span style="background-color: green;" class="flowcahrt_label">
                            <div class="Flowtooltip">
                                <span class="Flowtooltiptext">
                                    <table dir="rtl">
                                        <tr>
                                            <td style="width:100px;"> تاریخ صدور :</td>
                                            <td>1400/03/18</td>
                                        </tr>
                                        <tr>
                                            <td style="width:100px;"> شماره برگ تشخیص:</td>
                                            <td>140654198618</td>
                                        </tr>
                                    </table>
                                </span>صدور برگ تشخیص
                            </div>
                        </span>
                        <div class="branch lv1">
                            <div class="entry">
                                <span style="background-color: green;" class="flowcahrt_label">اعتراض</span>
                                <div class="branch lv2">
                                    <div class="entry">
                                        <span class="flowcahrt_label">Entry-1-1</span>
                                        <div class="branch lv3">
                                            <div class="entry sole">
                                                <span class="flowcahrt_label">Entry-1-1-1</span>

                                                <div class="branch ">
                                                    <div class="entry ">
                                                        <span class="flowcahrt_label">Entry-1-1-1-1</span>

                                                        <div class="branch">
                                                            <div class="entry sole">
                                                                <span class="flowcahrt_label">Entry-1-1-1-1-1</span>
                                                                <div class="branch">
                                                                    <div class="entry sole">
                                                                        <span class="flowcahrt_label">Entry-1-1-1-1-1-1</span>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="entry ">
                                                        <span class="flowcahrt_label">Entry-1-1-1-2</span>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry">
                                        <span class="flowcahrt_label">Entry-1-2</span>
                                        <div class="branch lv3">
                                            <div class="entry sole"><span class="flowcahrt_label">Entry-1-2-1</span></div>
                                        </div>
                                    </div>
                                    <div class="entry">
                                        <span class="flowcahrt_label">Entry-1-3</span>
                                        <div class="branch lv3">
                                            <div class="entry sole">
                                                <span class="flowcahrt_label">Entry-1-3-1</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entry">
                                <span style="background-color: gray;" class="flowcahrt_label">تمکین</span>
                                <div class="branch lv3">
                                    <div class="entry sole">
                                        <span style="background-color: gray;" class="flowcahrt_label">
                                            صدور برگ
                                            قطعی
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

